/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/var/SymfonyRequirements.php
/vendor/
/web/bundles/
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant
Vagrantfile
.idea
bin/symfony_requirements
